* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F3F1EC;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  overflow-x: hidden;
  @media (max-width:961px)  { 
    font-size: 16px;
  }
}

h1 {
  margin-top: 1rem; 
  font-family: "Dancing Script", cursive;
  font-size: 4.5rem;
  margin-bottom: 1rem;
}

h2 {
  text-align: left;
}

p {
  margin-top: 0rem;
  line-height: 1.75rem;
}

a, a:visited {
  color: rgb(81, 63, 245);
}

table {
  width: 100%;
  margin-bottom: 2rem;
}



table, td, tr, th {
  white-space: pre-wrap;
  text-align: left;
  border-collapse: collapse;
  border: 1px solid rgb(196, 193, 185);
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  
}

th {
  font-weight: bold;
}

td, th {
  padding: .75rem;
  text-align: left;
  @media (max-width:961px)  { 
    padding: .5rem;
  }

}

td {
  height: auto;
}

td a, td span {
  display: block;
}

td.first-column {
  width: 110px;
}

li {
  margin-bottom: 1rem;
  line-height: 1.75rem;
}

.leaf {
  background-image: url('img/leaf.webp');
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: -1;

  @media (max-width:961px)  { 
    display: none;
  }

}

.leaf-1 {
  top: 100px;
  left: 50%;
  transform: translateX(-650px);
}

.leaf-2 {
  top: 100px;
  left: 50%;
  transform: translateX(450px) scaleX(-1);
}

.leaf-3 {
  top: 1200px;
  left: 50%;
  transform: translateX(350px) scaleX(-1) rotate(35deg)
}

.leaf-4 {
  top: 2000px;
  left: 50%;
  transform: translateX(-650px) scaleX(1) rotate(35deg) 
}

.leaf-5 {
  top: 3000px;
  left: 50%;
  transform: translateX(350px) scaleX(-1) rotate(35deg)
}

.leaf-6 {
  top: 3600px;
  left: 50%;
  transform: translateX(-650px) scaleX(1) rotate(35deg) 
}

.page {
  padding: .5rem;
}

.page-content {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: auto;
  white-space: normal;
}

.call-to-action {
  background-color: #418B83;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 1.5rem;
  padding: 1.2rem;
  border-radius: 40px;
  font-weight: bold;
  font-size: .9rem;
  letter-spacing: .15rem;
  margin-top: 1rem;
  display: inline-block;
  color: white !important;
  margin-bottom: 1rem;
}

.call-to-action:hover {
  background-color: orange;
}

.hero {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 4rem;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: white;
  width: 100%;
  margin-top: 3rem;
  border-radius: 25px;
  overflow: hidden;

  @media (max-width:961px)  { 
    flex-flow: column nowrap;
    max-width: 800px;
    flex-direction: column-reverse;
  }
}

.hero-photo {
  background-image: url(img/meskuvoek.jpg);
  background-position: center center;
  background-size: cover;
  margin: auto;
  width: 100%;
  height: 100%;
  min-height: 530px;

  @media (max-width:961px)  { 
    min-height: 400px;
  }
}

.hero-content {
  padding: 0rem 3rem;
  padding-bottom: 2rem;
}

.hero-emoji {
  font-size: 5rem;
  margin-top: 1rem;
}

.block {
  display: block;
}

ul.chips {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  padding: 0rem;
  justify-content: center;
}

ul.chips li {
  background-color: white;
  padding: .75rem;
  border-radius: 10px;
  margin: .5rem;
  font-size: 1.5rem;
  animation: wiggle 900ms alternate infinite;
}

ul.chips li:nth-child(2n) {
  animation-delay: 450ms;
}

@keyframes wiggle {
  from {
    transform:rotate(-3deg);
  }
  to {
    transform: rotate(3deg);
  }
  
}

.block {
  display: block;
}

.bold {
  font-weight: bold;
}

.reminder-to-action {
  background-color: white;
  padding: 2rem 1rem;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

.floating-image {
  width: 20rem;
  height: 40rem;
  display: block;
  position: absolute;
  border-radius: 20px;
  background-size: cover;
  background-position: center center;
  opacity: .5;
  box-shadow: 0 0 8px 8px #F3F1EC inset;

}

.floating-image--1 {
  transform: translate(-360px, 400px);
  background-image: url("img/photo1.jpg");
  background-position: 65% center;
}
.floating-image--2 {
  transform: translate(740px, 1200px);
  background-image: url("img/photo2.jpg");
  background-position: 80% center;
}
.floating-image--3 {
  transform: translate(-360px, 2000px);
  background-image: url("img/photo4.jpg");
  background-position: 40% center;
}
.floating-image--4 {
  transform: translate(740px, 2800px);
  background-image: url("img/photo5.jpg");
  background-position: 40% center;
}

.goodbye-container {
  margin-top: 4rem;
}

.goodbye {
  text-align: center;
  margin: auto;
  display: block;
  margin-bottom: 1rem;
}
.goodbye--names {
  margin-bottom: 4rem;
  font-size: 4rem;
  font-family: "Dancing Script", cursive;
}